# STAT 201 PROJECT

# Part 1: Preliminary Exploratory Data Analysis

In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
library(GGally)
library(cowplot)
options(repr.matrix.max.rows = 12)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.1     ✔ rsample      1.1.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.3     ✔ workflows    1.0.0
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.1     ✔ yardstick    1.1.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [11]:
set.seed(2022)

#for reproducibility
url<- "https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip"
download.file(url, "data.zip")
unzip("data.zip")
bank_data<- read.csv("bank.csv", sep = ";")

head(bank_data)

  age job         marital education default balance housing loan contact  day
1 30  unemployed  married primary   no      1787    no      no   cellular 19
2 33  services    married secondary no      4789    yes     yes  cellular 11
3 35  management  single  tertiary  no      1350    yes     no   cellular 16
4 30  management  married tertiary  no      1476    yes     yes  unknown   3
5 59  blue-collar married secondary no         0    yes     no   unknown   5
6 35  management  single  tertiary  no       747    no      no   cellular 23
  month duration campaign pdays previous poutcome y
1 oct    79      1         -1   0        unknown  no
2 may   220      1        339   4        failure  no
3 apr   185      1        330   1        failure  no
4 jun   199      4         -1   0        unknown  no
5 may   226      1         -1   0        unknown  no
6 feb   141      2        176   3        failure  no