# STAT 201 PROJECT

# Part 1: Preliminary Exploratory Data Analysis

In [10]:
library(tidyverse)
library(repr)
library(tidymodels)
library(GGally)
library(cowplot)
options(repr.matrix.max.rows = 12)

In [12]:
set.seed(2022)

#for reproducibility

url<-"https://raw.githubusercontent.com/celike1/Data-for-Stat201/main/bank.csv"
bank_data<- read.csv(url, sep = ";")

head(bank_data)

  age job         marital education default balance housing loan contact  day
1 30  unemployed  married primary   no      1787    no      no   cellular 19
2 33  services    married secondary no      4789    yes     yes  cellular 11
3 35  management  single  tertiary  no      1350    yes     no   cellular 16
4 30  management  married tertiary  no      1476    yes     yes  unknown   3
5 59  blue-collar married secondary no         0    yes     no   unknown   5
6 35  management  single  tertiary  no       747    no      no   cellular 23
  month duration campaign pdays previous poutcome y
1 oct    79      1         -1   0        unknown  no
2 may   220      1        339   4        failure  no
3 apr   185      1        330   1        failure  no
4 jun   199      4         -1   0        unknown  no
5 may   226      1         -1   0        unknown  no
6 feb   141      2        176   3        failure  no